<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>contatos-template</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CharsetFilter</display-name>
    <servlet-name>CharsetFilter</servlet-name>
    <servlet-class>config.CharsetFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CharsetFilter</servlet-name>
    <url-pattern>/CharsetFilter</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharsetFilter</display-name>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>config.CharsetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/CharsetFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaContatoServlet</display-name>
    <servlet-name>ListaContatoServlet</servlet-name>
    <servlet-class>servlets.ListaContatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaContatoServlet</servlet-name>
    <url-pattern>/ListaContatoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaContatosServlet</display-name>
    <servlet-name>ListaContatosServlet</servlet-name>
    <servlet-class>servlets.ListaContatosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaContatosServlet</servlet-name>
    <url-pattern>/ListaContatosServlet</url-pattern>
  </servlet-mapping>
</web-app>